/* CSS */
#main {
    background-image: url("landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
  }
  
  .displayContainer {
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  #header,
  #forecast,
  #weeklyForecast {
    border: 1px solid #ccc; 
    padding: 20px; 
    margin: 10px 0; 
    width: 500px; 
    background-color: beige;
  }
  
  .weeklyForecast {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .daysOfTheWeek {
    border: 1px solid #ccc; 
    padding: 10px; 
    width: calc(14.2857% - 2px); 
    
  }
  

  

  
  .displayContainer {
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 100px;
  }
  #header,
  #forecast,
  #weeklyForecast {
    border: 1px solid #ccc; 
    padding: 20px; 
    margin: 10px 0; 
    
    background-color: beige;
  }
 
  #header{
    margin-top: 100px;
  }
  #weeklyForecast {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .daysOfTheWeek {
    border: 1px solid #ccc; 
    padding: 10px; 
    width: calc(14.2857% - 2px); 
    text-align: center; 
    
  }
  #forecast{
    margin-top: 240px;
  }
  